.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-Lab1.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prefs
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.jxbrowser-data/History
.jxbrowser-data/GPUCache/index
.jxbrowser-data/GPUCache/data_3
.jxbrowser-data/GPUCache/data_2
.jxbrowser-data/GPUCache/data_1
.jxbrowser-data/GPUCache/data_0
.jxbrowser-data/Favicons-journal
.jxbrowser-data/Cache/index
.jxbrowser-data/Cache/f_000004
.jxbrowser-data/Cache/f_000003
.jxbrowser-data/Cache/f_000002
.jxbrowser-data/Cache/f_000001
.jxbrowser-data/Cache/data_3
.jxbrowser-data/Cache/data_2
.jxbrowser-data/Cache/data_1
.jxbrowser-data/Cache/data_0
.jxbrowser-data/4556_0.lock
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
.metadata/.plugins/org.eclipse.cdt.core/Lab1.1496940580874.pdom
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/7.2.0.1/TMS470_GNU_6.0.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/7.2.0.1/TMS470.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/7.2.0.1/PRU.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/7.2.0.1/MSP432_GNU_6.0.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/7.2.0.1/MSP432.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/7.2.0.1/MSP430_GNU_6.0.xml
.metadata/.plugins/com.ti.ccstudio.builddefinitions.generator/7.2.0.1/MSP430.xml
.jxbrowser-data/Visited Links
.jxbrowser-data/Login Data-journal
.jxbrowser-data/Login Data
.jxbrowser-data/Local Storage/https_www.youtube-nocookie.com_0.localstorage-journal
.jxbrowser-data/Favicons
.jxbrowser-data/Cookies-journal
.jxbrowser-data/Cookies
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/com.ti.ccstudio.project.core/Debug/symbols.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/com.ti.ccstudio.project.core/Debug/linkerFlags.txt
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/com.ti.ccstudio.project.core/Debug/benchmarks.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/com.ti.ccstudio.project.core/Debug/advice.xml
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Lab1/.indexes/properties.index
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.jxbrowser-data/user_prefs.json
.jxbrowser-data/Web Data-journal
.jxbrowser-data/Web Data
.jxbrowser-data/Local Storage/https_www.youtube-nocookie.com_0.localstorage
.jxbrowser-data/Local Storage - EXT/file_null.localstorage
.jxbrowser-data/History-journal
.metadata/version.ini
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.msdn-special_3967/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.msdn-special_3967/H.local_16/node.properties
.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.msdn-special_3967/FP.local.files_0/node.properties
.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.lock
.metadata/.plugins/org.eclipse.core.resources/.projects/RemoteSystemsTempFiles/.markers.snap
.metadata/
